@import url('../../../styles/variables.css');
.Icon_container{
    width: 1.2em;
    padding: 0.2em;
    border-radius: 100px;
    background-color: rgb(77, 77, 77);
    display: flex;
    align-items: center;
   
    
    
    .Icon{
        fill: white;
    }
}