.ComponentContainer{
    height: 3em;
    width: 100%;
    background-color: rgb(185, 185, 185);
    overflow: hidden;
    display: grid;
    z-index: 1;
    align-items: center;
    padding: 0 2em;
    display: none;
    .Items{
        display: flex;
        width: 100%;
        list-style: none;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    
}
@media (max-width: 800px){
    .ComponentContainer{
        height: 3em;
        width: 100%;
        background-color: rgb(185, 185, 185);
        overflow: hidden;
        display: grid;
      
        align-items: center;
        padding: 0 2em;
        .Items{
            display: flex;
            width: 100%;
            list-style: none;
            justify-content: space-between;
            margin: 0;
            padding: 0;
        }
        
    } 
}