@import url('../../../styles/variables.css');
.Item_container{
     
    //padding: var(--padding);
    
    //background-color: var(--Gray5);
    color: white;
    fill: white;
   
    .Item_inner{
        display: flex;
        text-decoration: none;
        align-items: center;
        .Icon_container{
            width: 2em;
            height: 2em;
            margin: 0;
            color: white;
            background-color: rgb(56,56,56);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1em;
            padding: 0;
            border-radius: 100px;
            .Icon_item{
                margin: 0;
                padding: 0;
            }
        }
       

    }
}