@import url('../../../styles/variables.css');

.FacturaControlContainer {
   position: relative;
   height: calc(100%);
   background-color: rgb(253, 253, 253);
   max-width: 30em;
   width: 100%;
   overflow: hidden;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: min-content auto min-content;
   padding: 0 ;
   margin: 0;
   gap: 10px;
   .ProductsContainer {
      background-color: var(--color2);
      display: flex;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      position: relative;
      //border-radius: 10px;
      border-top-left-radius: var(--border-radius-light);
      border-bottom-left-radius: var(--border-radius-light);
      .Products{
         height: 100%;
         width: 100%;
         position: relative;
     
         display: flex;
         .ProductsWrapper{
            width: 100%;
            position: relative;
            overflow: hidden;
            overflow-y: scroll;
       
          

         }

      }
   }

  

}
.resultBar {
   background-color: var(--Gray8);
   
   color: white;
   display: flex;
   padding: 0 0.4em;
   align-items: center;
   justify-content: space-between;
   border-top-left-radius: var(--border-radius-light);
      
      h3{
         width: 100%;
         display: flex;
         gap: 0.4em;
         .price{
            letter-spacing: 1px;
         }
         font-size: 1.2em;
      }
   
}

@media(max-width: 800px) {
   .FacturaControlContainer {
      height: calc(100vh);
      width: 100%;
      max-width: none;
      border: 1px solid rgba(0, 0, 0, 0.121);
      border-top: 0;
      border-bottom: 0;
      position: absolute;
      top: 0;
      z-index: 1;
      background-color: white;
      display: none;
    

      .ClientBar {
         background-color: var(--White2);
         padding: 0 1em;
         display: flex;
         justify-content: space-between;
         align-items: center;

         .IconContainer {
            width: 2em;
            height: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            background-color: var(--White2);
            border: 1px solid rgba(0, 0, 0, 0.307);

            .Icon {
               width: 1.5em;
               fill: rgba(31, 31, 31, 0.72);


            }
         }

      }

      .listItem {
         background-color: rgba(0, 0, 0, 0.080);
         margin: 0;
         padding: 0;

         overflow-y: auto;

         .group {
            display: grid;
            grid-template-columns: 3fr 2fr min-content;
            align-items: center;
            justify-content: center;
            height: auto;
            background-color: rgb(237, 237, 237);
            padding: 0.5em;
            border: 1px solid rgba(0, 0, 0, 0.200);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin: 0.5em;
            border-radius: 6px;
            gap: 1em;

            

            .CrossContainer {
               display: flex;
               height: min-content;
               align-items: center;
               justify-content: center;
               padding: 0.4em;
               clip-path: circle();
               background-color: #ae423f;

               .Cross {
                  fill: white;
                  width: 0.8em;
               }
            }

         }
      }

   }
}