.Danger{
   background-color: rgb(227, 81, 81);
   padding: 0.4em 1em;
   width: 100%;
   border-radius: 100px;
   color: white;
   font-weight: 700;
   text-align: center;
   letter-spacing: 0.8pt;
}