

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
  box-sizing: border-box;
  font-family: 'Poppins',Inter, Avenir, Helvetica, Arial, sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 

}
::selection{
  background-color: var(--color);
  
  color: white;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  user-select: none;
}

a{
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  :hover {
    color: #535bf2;
  }
}

select{
  padding: 0 0.4em;
  border-radius: var(--border-radius-light);
  border: none;
  outline: 1px solid rgb(145, 145, 145);
}

input{
  background-color: white;
  color: rgb(83, 83, 83);
  width: 100% !important;
}



/* ::-webkit-scrollbar {
  width: 11px;
  background-color: transparent;
}*/

/* ::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  
}

::-webkit-scrollbar-track {
  background-color: transparent;
}  */


